* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
}

.body {
  background-color: #fff;
}
.container{
  background-color: rgba(0, 0, 0, 0.85);

}
.content{
  background-color: #fff;
 
}

header{
  text-align: center;
}
section{
  text-align: center;
}

footer{
  color: #fff;
}
.back-ground-img{
  width: 85%;
}

.icon{
  width: 30%;
}


.link-gmail{
  color: #fff;
  text-decoration: unset;
}


.nav-item{
  font-weight: bold;
}

.fixed-icon {
  cursor: pointer;
  position: fixed; 
  bottom: 20px; 
  right: 20px; 
  width: 60px;
  height: 60px; 
  font-size: 24px; 
  text-align: center; 
  line-height: 40px; 
  text-decoration: none; 
}

#navbar{
  background-color: #fff;
  position: -webkit-sticky;
  position: sticky;
  top: 0;

}

.card-link:hover{
  opacity: 0.5;
}

.card{
  background-color: rgb(156, 211, 211);
  border-radius: 5%;
}

.ggreview{
  width: 85%;
  margin-left: auto;
  margin-right: auto;
}